mitofates-web/node_modules/
npm-debug.log*

mitofates-web/uploads/*
!mitofates-web/uploads/.gitkeep

mitofates-web/results/*.json
!mitofates-web/results/.gitkeep

.DS_Store
Thumbs.db
*/.vscode/*
/MitoFates